{% extends "_layout" %}

{% block content %}
{% include 'global/_hero-static-image.html' %}
<div id="start-of-content" class="content">

	<article class="hentry">
		<h1>Forgot Password</h1>

		<form method="post" accept-charset="UTF-8" class="login_form">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="users/sendPasswordResetEmail">
            <input type="hidden" name="redirect" value="{{url('members/register-success')}}">

           <p>
               <label for="loginName">Email</label><br />
            <input id="loginName" type="text" name="loginName"
                value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}"><br />
           </p>
            {% if errors is defined %}
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <input type="submit" class="pill tiny radius" value="Submit">
        </form>

	</article>

{% endblock %}