{% extends "_layout" %}
{% if not currentUser %}
    {% redirect '/members/login' %}
{% endif %}
{% block content %}
{% include 'global/_hero-static-image.html' %}
<div id="start-of-content" class="content">

	<article class="hentry">
		<h1>Profile</h1>

        <p>To continue using WWB-Campus as a registered educator, please complete your profile below.</p>

        <form method="post" accept-charset="UTF-8" class="login_form">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="users/saveUser">
            <input type="hidden" name="redirect" value="{{url('members/profile')}}">
            <input type="hidden" name="userId" value="{{ currentUser.id }}">

            <p>
                <label for="name">Full Name</label><br />
                <input type="text" id="name" name="fields[profileName]" value="{{ currentUser.profileName }}">
            </p>

            <p>
                <label for="schoolName">School Name</label><br />
                <input type="text" id="schoolName" name="fields[schoolName]" value="{{ currentUser.schoolName }}">
            </p>

            <p>
                <label for="schoolLevel">School Level</label><br />
                <select id="schoolLevel" name="fields[schoolLevel]">
                    <option value="null">Select</option>
                    <option {% if currentUser.schoolLevel == 'primary'%} selected {% endif %} value="primary">Primary</option>
                    <option {% if currentUser.schoolLevel == 'middle'%} selected {% endif %} value="middle">Middle</option>
                    <option {% if currentUser.schoolLevel == 'secondary'%} selected {% endif %} value="secondary">Secondary</option>
                    <option {% if currentUser.schoolLevel == 'college/post secondary'%} selected {% endif %} value="college/post secondary">College/Post-Secondary</option>
                    <option {% if currentUser.schoolLevel == 'graduate'%} selected {% endif %} value="graduate">Graduate</option>
                </select>
            </p>

            <p>
                <label for="schoolType">School Type</label><br />
                <select id="schoolType" name="fields[schoolType]">
                    <option value="null">Select</option>
                    <option {% if currentUser.schoolType == 'public'%} selected {% endif %} value="public">Public</option>
                    <option {% if currentUser.schoolType == 'private'%} selected {% endif %} value="private">Private</option>
                </select>
            </p>

            <p>
                <label for="schoolCity">School City</label><br />
                <input type="text" id="schoolCity" name="fields[schoolCity]" value="{{ currentUser.schoolCity }}">
            </p>

            <p>
                <label for="schoolCountry">School Country</label><br />
                <input type="text" id="schoolCountry" name="fields[schoolCountry]" value="{{ currentUser.schoolCountry }}">
            </p>

            <input type="submit" value="Save Profile">
        </form>

	</article>

{% endblock %}