//Base
@import 
"bower_components/normalize-scss/normalize.scss",
"bower_components/normalize-opentype.css/normalize-opentype.scss",
"bourbon",
"modules/grid-settings",//overrides bitters grid-settings
"neat",
"base/base";


//  MODULES
@import "modules/accessibility";
@import "modules/layouts";

@import "modules/refills/hero";
@import "modules/article";
@import "modules/boxes";
@import "modules/form";
//@import "modules/accordion";
@import "modules/refills/accordian-tabs";
@import "modules/refills/button-group";
@import "modules/buttons";
@import "modules/refills/footer";
@import "modules/refills/footer-sur";
@import "modules/lists";
@import "modules/quotes";
//@import "libs/mapbox";
@import "modules/refills/dropdown";
@import "modules/image-box";
@import "modules/refills/modal";

@import "modules/refills/nav-top";
@import "modules/ribbon_wrapper";
@import "modules/graphic-lit";
@import "modules/table";
@import "modules/utilities";
@import "modules/blog";
@import "modules/login";

body {
  background-color: $wwb-grey;
}
