{% set intro = entry.introduction %}
{# {% set teachingTips = craft.entries.section('units').order('postDate desc').find() %} #}
{% set literatures = craft.entries.section('literature').order('postDate desc').find() %}

{% extends "_layout" %}
{% block content %}
{% include 'global/_profileCheck' %}

{% include 'global/_hero-static-image.html' %}



<div id="start-of-content" class="content">


	<div class="layout-2column">
		<article class="hentry">
				{% for literature in literatures %}



					<ul class="item list-filterTK">
						{% for teachingTip in literature.teachingTips %}
							{% if teachingTip.type == "tip" %}
                <hr />
									from <h3 style="display:inline-block;"><a href="{{literature.url}}">{{literature.title}}</a></h3>
									<h4>{{teachingTip.tiptitle}}</h4>


									{% if teachingTip.readingStandard  | length %}
									<strong>Addresses these Common Core Standard for Reading: </strong> {# TODO: Output Group Name #}
									{% for readingStandard in teachingTip.readingStandard %}
										{{readingStandard.title }},
									{% endfor %}
								{% endif %}
											<br />
                {% if teachingTip.nysCcs  | length %}
                  <strong>& NYS CCSS: </strong>
                  {% for nysCcs in teachingTip.nysCcs %}
                    {{nysCcs.title }},
                  {% endfor %}
                {% endif %}
                <br />
                {% if teachingTip.writingStandard  | length %}
                  <strong>Common Core Anchor Standards for Writing: </strong>
                  {% for writingStandard in teachingTip.writingStandard %}
                    {{writingStandard.title }},
                  {% endfor %}
                {% endif %}













							{% endif %}


						{% endfor %}
						</ul>

				{% endfor %}

			</article>





<aside>
Copy goes here
{#


<h5>Filter by CCS Anchor Standard</h5>

<div class="dropdown">
  <div class="dropdown-container">
    <p class="dropdown-description">Reading</p>
    <p class="dropdown-button dropdown-reading">Click to Select</p>
    <ul class="menu menu-reading">
    {% for tag in craft.tags.group('ccasReading') %}
      <li>{{tag.title}}</li>

      {% endfor %}
    </ul>
  </div>
</div>

<br />

<div class="dropdown">
  <div class="dropdown-container">
    <p class="dropdown-description">NY State</p>
    <p class="dropdown-button dropdown-nystate">Click to Select</p>
    <ul class="menu menu-nystate">
    {% for tag in craft.tags.group('nysccs') %}
      <li>{{tag.title}}</li>

      {% endfor %}
    </ul>
  </div>
</div>

<br />
<div class="dropdown">
  <div class="dropdown-container">
    <p class="dropdown-description">Writing</p>
    <p class="dropdown-button dropdown-writing">Click to Select</p>
    <ul class="menu menu-writing">
    {% for tag in craft.tags.group('ccasWriting') %}
      <li>{{tag.title}}</li>

      {% endfor %}
    </ul>
  </div>
</div>




 #}</aside>

</div>

	</section>

{% endblock %}
