<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/assets/images-site/logo-campus.png" class="logo">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav no-print">
      <ul id="navigation-menu">
        {% include 'global/_navigation.html' %}
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
        <form accept-charset="UTF-8" action="/search" method="GET" role="form">
          <label style="display:none;" for="query">Search WWB </label>
            <input style="font-size:75%;font-weight:300;" type="text" name="query" class="required" id="query" placeholder="Search WWB" tabindex="7" />
            <button  type="submit" id="">
              <span style="color:#666;font-size:12px;">Search</span>
            </button>
        </form>
        </div>
      </div>
    </div>
  </div>
</header>