<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/assets/images-site/logo-campus.png" class="logo">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav no-print">
      <ul id="navigation-menu">
        {% include 'global/_navigation.html' %}
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
         <form action="//wordswithoutborders.us1.list-manage.com/subscribe/post?u=ea0d4bf6acb72dfb962c1c4a3&amp;id=7b08db2e9f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <label style="display:none;" for="mce-EMAIL">Email Address </label>
            <input style="font-size:75%;font-weight:300;" type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Get Updates by Email" tabindex="7" />
            <button  type="submit" name="subscribe" id="mc-embedded-subscriTKbe">
              <span style="color:#666;font-size:12px;">Enter</span>
            </button>
            <input type="hidden" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          </form>
        </div>
      </div>
      <!-- <a href="javascript:void(0)" class="sign-up">Sign Up</a> -->
    </div>
  </div>
</header>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->



