<script src="/assets/js/scripts-concatenated.min.js" async></script>
{# <script src="/assets/sitejs-old.js" async></script> #}
{# <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ADDTHISID" async></script> #}

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Roboto+Slab:400,300,100,700:latin', 'Open+Sans:400italic,700italic,400,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>


{# <script type="text/javascript" src="/assets/js/list.min.js"></script>
<script type="text/javascript">
  {% include 'global/scriptslist.js' %}
</script> #}