
{# <blockquote>{{ entry.pullQuote }}</blockquote> #}
<ul class="accordion-tabs article-meta accordionTK">
  
   <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="is-active tab-link js-accordion-trigger">About </a>
      <div class="tab-content submenu is-expanded">              
        {% include "literature/_about.html" %}
      </div>
  </li>
  
  {% if entry.contributorAuthor  | length %}
    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link js-accordion-trigger">Bios</a>
      <div class="tab-content submenu">              
        {% include "literature/_bios.html" %}              
      </div>
    </li>
  {% endif %}
  

  {% if entry.original %}
    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link js-accordion-trigger">Original</a>
      <div class="tab-content submenu">
        {% include "literature/_original.html" %}
      </div>
    </li>
  {% endif %}

  {% if contexts | length %}
    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link js-accordion-trigger">Context</a>
      <div class="tab-content submenu">

        {% include "literature/_context.html" %}
      </div>
    </li>
  {% endif %}

    {% if playlists  | length %}
    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link js-accordion-trigger">Playlist</a>
      <div class="tab-content submenu">

         {% include "literature/_playlist.html" %}
      </div>
    </li>
  {% endif %}


   {% if teachingTips | length %}
    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link js-accordion-trigger">Teaching Ideas</a>
      <div class="tab-content submenu">
        {% include "literature/_teaching_ideas.html" %}
      </div>
    </li>
  {% endif %}
</ul>

