wwb_db_database="wwb_docker"
wwb_db_password="123456"
wwb_db_port="3306"
wwb_db_server="wwb_db_1"
wwb_db_user="dev"
wwb_general_backupDbOnUpdate="false"
wwb_general_baseAssetUrl="http://wwb-docker.localhost/"
wwb_general_cacheMethod="file"
wwb_general_devMode="true"
wwb_general_siteUrl="http://wwb-docker.localhost"