<h1>Search</h1>

<!-- TODO: Focus paramters so that theme only searches the theme field, unit only the unit(?), etc -->


<p>TODO: Show only cats that have entries
TODO: Add multiple parameters per search (both within and without section)
TODO: Search within results, with search box
TODO: Ajaxify
TODO: Style searches so that more things can easily be shown.
TODO: Set a &ldquo;Clear Search&rdquo; button
TODO:</p>

<h1>Immediate</h1>

<p>TODO: Dump images on Nadia</p>

<p>TODO: Make Graphic Lit pages!!!</p>

<!-- TODO: Teaching Ideas are linked to Common Core Standards.  Therefore, Bud will create a field for the titles of Teaching Ideas. When a user searches by a standard, the resulting list will identify Teaching Ideas and the articles to which they are linked.
 -->




<!-- TODO: Add originalPublicationInfo to article page -->




<!-- TODO: Make blog - fields: heading, link to (blog, extra, article, unit), show quote?, WYSIWYG -->




<!-- TODO: Make place for Extras Articles -->


<h2>FIND PAGE</h2>

<p>Make article cards entirely clickable
Come up with a max char. count</p>

<!-- # Change topbar to global variable (on wayfind) -->


<h1>Important</h1>

<p>TODO: Add keywords to article filter page</p>

<p>FIXTHIS: Safari bug with boxes on</p>

<p>TODO: Add contact form</p>

<p>TODO: Mobile Flow</p>

<p>TODO: Beta Flag pushes site out to the right</p>

<h1>For Launch</h1>

<p>TODO: Print stylsheet</p>

<h1>Low Priority</h1>

<p>TODO: Print special for teaching tips (on their own)</p>

<h1>DONE</h1>

<p>TODO: Beta flag</p>
