.posts form{
	margin-bottom: 2em;
	widows: 100%;

	input[type='text']{ 
		display: inline-block;
		padding: .4em .5em;
		font-size: 1.1em;
		width: 50%;
	}

	input[type='submit']{
		margin-top: -5px;
	}
}