// .hero blockquote {
//   background-color: rgba(0,0,0,0.7);
//   color: #f7f7f7;
//   padding:.5em;
//   border-radius: 3px;
//   font-weight:100;
// }
//




// blockquote {
//   //@extend .as-heading__normal;
//   //padding: 2em;
//   //color: lighten($base-color, 18%);
//   border: none;
//   font-family: $header-font-family;
// }

////  QUOTES

// .quote, .quotes p {
  
//   //font-family: $serif;
  
  

// }

blockquote {

}

.quote-presentational {
  font-family: $header-font-family;
  font-size: $base-font-size * 1.6;
  line-height: 1.5;
  display: block;
  text-align: center;
  margin: auto;
  
    padding:0;

  @include media($normal-screen-up) {
    //margin: auto 10em;
    width: 60%;
  }
}


blockquote.small {
  font-size: $base-font-size * 1.2;
  line-height: 1.4;

  padding: .25em;

}