<span id="bios">
<span class="print-only">for <em>{{ entry.title }}</em><br />{{ entry.url }}</span>
  {% for author in authors %}
    <h5>{{author.title}}</h5>
    {% for block in author.images %}
      {% if block.type == "image" %}
        {% set image = block.image.first() %}
        {% if image %}
          <img src="{{ image.url }}" style="max-width:100%;float:left;margin:6px 12px 4px 0;">
        {% endif %}
      {% endif %}
    {% endfor %}
    {{author.body}}
    {% for block in author.images %}
      {% if block.captionCredit  %}
        <div class="caption" style="margin-bottom:10px;">image: {{ block.captionCredit }}</div>
      {% endif %}
    {% endfor %}
    <br />
  {% endfor %}
  {% if translators | length %}
    <hr />
    {% for translator in translators %}
      <h5>{{ translator.title }} (translator)</h5>
        {% for block in translator.images %}
          {% if block.type == "image" %}
            {% set image = block.image.first() %}
            {% if image %}
              <img src="{{ image.url }}" style="max-width:100%;float:left;margin:6px 12px 4px 0;">
            {% endif %}
          {% endif %}
        {% endfor %}              
        {{ translator.body }}
        {% for block in translator.images %}
          {% if block.captionCredit  %}
            <div class="caption" style="margin-bottom:10px;">image: {{ block.captionCredit }}</div>
          {% endif %}
        {% endfor %}
        <br />
    {% endfor %}
  {% endif %}
</span>