{% set authors = entry.contributorAuthor %}
{% set contexts = entry.contexts %}
{% set definitions = entry.definitions %}
{% set genre = entry.genre.first %}
{% set graphic = entry.articleMedia %}
{% set originalLanguage = entry.originalLanguage.first %}
{% set originalPublicationInfo = entry.originalPublicationInfo %}
{% set playlists = entry.playlists %}
{# {% set prevNextArticle = { section: 'article', order:   'title', relatedTo: { sourceElement: relatedThemes } } %} #}
{# TODO: CHANGE THIS TO THE UNIT/THEME #}
{# {% set relatedThemes = craft.entries.section('themes').relatedTo(entry) %} #}
{% set splashImage = entry.images.first %}
{% set teachingTips = entry.teachingTips %}
{% set translators = entry.contributorTranslator %}
  {# {% set prevThemeArticle = entry.getPrev(prevNextArticle) %}
  {% set nextThemeArticle = entry.getNext(prevNextArticle) %} #}
{% set units = craft.entries.section('units').relatedTo({
  targetElement: entry,
  field: "themesAndArticles.articlesInThisTheme"
})%}
{% set relatedThemes = entry.theme.first() %}


{% extends "_layout" %}
{% block content %}

{% if splashImage | length %}
  <style type="text/css">
    {% for block in entry.images %}
      {% if block.type == "image" %}
        {% set image = block.image.first() %}
        .hero {
            background: url("{% if image %}{{ image.url }}{% endif %}"), linear-gradient(10deg, #217142, #214271), no-repeat #214271 scroll;
            background-position: center center;
            background-size: cover;
            background-position: center bottom;
            background-attachment: fixed;
            min-height: 400px;
          }
      {% endif %}
    {% endfor %}
  </style>
{% endif %}




<style type="text/css">
  .slide-pager {
    font-size: 50px;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: #ddd;
  }

  .slide-pager > * {
    cursor: pointer;
  }

  .cycle-pager-active {
    color: #D69746;
  }
  .button {

    margin: 1em .75em 2em 0;
  }


</style>

{% include 'global/_hero-static-image.html' %}
<div id="start-of-content" class="content">
	<div class="layout-article">
		<article id="literature" class="hentry">
			<header>
				<h1 class="entry-title">{{ entry.title }}</h1>
			</header>
			{{ entry.body }}
      {% if graphic | length %}
        <div>
            {% for images in graphic %}
              {# TODO: Add Image Transforms here, display, to fit max width of article box #}
              {# {% set image = images.image.first() %} #}
              {% for image in images.image %}
                {% if image %}
                  <img class="graphic-lit" style="width:100%;" data-cycle-title="{{ images.caption }}" src="{{ image.getUrl() }}" alt="" {# {% if loop.first %}display:none;{% endif %} #}>
                {% endif %}
              {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="cycle-caption"></div>
		</article>
    {% for relatedUnit in units %}
 <h5 class="no-print" style="text-align:right;"><strong><a href="{{ relatedUnit.url }}">Back to {{ relatedUnit.title }} &raquo;</a></strong></h5>
 <br />
{% endfor %}
		<aside>

    {# <blockquote>{{ entry.pullQuote }}</blockquote> #}
      <ul class="accordion-tabs article-meta">
        <li class="tab-header-and-content">
            <a href="#" class="is-active tab-link">About </a>
            <div class="tab-content">
              <h4>
                {% if genre | length %}{{ genre.title }}{% endif %}
                {% include 'global/_authors-list.html' %}
              </h4>
              {% if translators | length %}
                Translated
                  {% if originalLanguage | length %}
                    from the {{ originalLanguage.title }}
                  {% endif %}
                by
                  {% for translator in translators %}
                    {% if translators | length == 2 %}
                      {% if loop.last and not loop.first %} and {% endif %}{{translator.title}}
                        {% else %}
                          {% if loop.last and not loop.first %} and {% endif %}{{translator.title}}{% if not loop.last %}, {% endif %}
                    {% endif %}
                  {% endfor %}
              {% endif %}
                    <hr />
              {% if entry.introduction %}
                {{entry.introduction}}
              {% endif %}

              {% if definitions | length %}
                <hr />
                <h5>Definitions</h5>
                <dl>
                  {% for definition in definitions %}
                    <dt id="{{definition.title}}">{{definition.title}}</dt>
                    <dd>{{definition.introduction}}</dd>
                  {% endfor %}
                </dl>
              {% endif %}

              {% for block in entry.images %}
                {% if block.captionCredit  %}
                  <div class="caption bottom-right">image: {{ block.captionCredit }}</div>
                {% endif %}
              {% endfor %}




            {% if graphic | length %}


              <div class="no-print">
                <h5>Navigation</h5>

                 <div class="button-group">
                <div id="custom-pager"></div>
                <br />
                <button class="button small" id="prev">&lt;&lt;Prev </button>
                  {# <button class="button small" id="pauser" data-cycle-cmd="pause">pause</button> #}
                  {# <button class="button small" id="pauser" data-cycle-cmd="resume">resume</button> #}
                <button class="button small" id="next"> Next&gt;&gt;</button>
                </div>

                <div id="custom-caption" class="center"></div>
                <div class="slide-pager" style="width:90%;margin:1em auto;clear:both;"></div>
            </div>
                {% endif %}

              {% if originalPublicationInfo | length %}
              <hr />
                <small>{{ originalPublicationInfo }}</small>

              {% endif %}

                <br />
                {# <button class="small no-print" style="float:right;" onclick="window.print();">Print Literature</button> #}

                <div class="script-only hidden">
                  <button class="button small no-print" style="float:right;" onclick="printDivTeacingIdeas();">Print Teaching Ideas</button>
                  <button class="button small no-print" style="float:right;" onclick="printDivBios();">Print Bios</button>
                  <button class="button small no-print" style="float:right;" onclick="printDivLiterature();">Print Literature</button>
                </div>
          </div>
        </li>


        {% if entry.contributorAuthor  | length %}
          <li id="bios" class="tab-header-and-content">
            <a href="#" class="tab-link">Bios</a>
            <div class="tab-content">
              {% for author in authors %}
                <h5>{{author.title}}</h5>
                {% for block in author.images %}
                  {% if block.type == "image" %}
                    {% set image = block.image.first() %}
                    {% if image %}
                    <img src="{{ image.url }}" style="max-width:100%;float:left;margin:6px 12px 4px 0;">
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {{author.body}}
              {% for block in author.images %}
                {% if block.captionCredit  %}
                  <div class="caption" style="margin-bottom:10px;">image: {{ block.captionCredit }}</div>
                {% endif %}
              {% endfor %}
                <br />
              {% endfor %}
              {% if translators | length %}
                <hr />
                {% for translator in translators %}
                  <h5>{{translator.title}} (translator)</h5>
                    {{translator.body}}<br />
                {% endfor %}
              {% endif %}
            </div>
          </li>
        {% endif %}

        {% if entry.original %}
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Original</a>
            <div class="tab-content">
              <div class="content-originalTK">
                {% if entry.originalTitle %}
                  <header>
                    <h1>{{ entry.originalTitle }}</h1>
                  </header>
                {% endif %}
                {{ entry. original }}
              </div>
            </div>
          </li>
        {% endif %}

    		{% if contexts | length %}
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Context</a>
            <div class="tab-content">
            <h6 class="print-only">Links available online only</h6>
              {% for context in contexts %}
              	{% if context.type == "context" %}
    							{{ context.contextContent }} <hr />
    						{% endif %}
            	{% endfor %}
            </div>
          </li>
        {% endif %}

        {% if playlists  | length %}
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Playlist</a>
            <div class="tab-content">
            <h6 class="print-only">Links available online only</h6>
              {% for playlist in playlists %}
              	{% if playlist.type == "media" %}
    							{{ playlist.media }} <hr />
    						{% endif %}
            	{% endfor %}
            </div>
          </li>
        {% endif %}

        {% if teachingTips | length %}
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Teaching Ideas</a>
            <div id="teaching-ideas" class="tab-content">


              {% for teachingTip in teachingTips %}
          	   {% if teachingTip.type == "tip" %}
               <h1 class="print-only{% if not loop.first %} section-break{% endif %}">Teaching Ideas for {{ entry.title }}</h1>
							   <h4 class="section-title">{{ teachingTip.tiptitle }}</h4>
                 {{ teachingTip.tip }}
								{% if teachingTip.readingStandard  | length %}
									<em>Addresses these Common Core Anchor Standards for Reading: </em> {# TODO: Output Group Name #}
									{% for readingStandard in teachingTip.readingStandard %}
										{{readingStandard.title }}{% if not loop.last %}, {% endif %}
									{% endfor %}
								{% endif %}
                {% if teachingTip.nysCcs  | length %}
                  <em>& NYS CCSS: </em>
                  {% for nysCcs in teachingTip.nysCcs %}
                    {{nysCcs.title }}{% if not loop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}
                {% if teachingTip.writingStandard  | length %}
                  <em>Common Core Anchor Standards for Writing: </em>
                  {% for writingStandard in teachingTip.writingStandard %}
                    {{writingStandard.title }}{% if not loop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}
								<hr />
  					   	{% endif %}
          	  {% endfor %}










            </div>
          </li>
        {% endif %}

      </ul>
    </aside>
	</div>





  {# PREV/NEXT
    {% if prevThemeArticle %}
        <p>Previous: <a href="/{{ prevThemeArticle.uri }}">{{ prevThemeArticle.title }}</a></p>
    {% endif %}

    {% if nextThemeArticle %}
        <p>Next: <a href="/{{ nextThemeArticle.uri }}">{{ nextThemeArticle.title }}</a></p>
    {% endif %}
   //END PREV/NEXT #}

</section>
{% endblock %}